.box {
	height: 200px;
	width: 250px;
	background-color: #000;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

.product-1 {
background: url(../img/product-1.png);

}
.product-2 {
background: url(../img/product-2.png);

}
.product-3 {
background: url(../img/product-3.png);

}
.product-4 {
background: url(../img/product-4.png);

}


/*Overlays*/

.overlay {
	height: 200px;
	width: 250px;
	opacity: 0;
	background-color: #000;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}