
.nav{

float: right; 
color: white;

  
}

p {

  color: #b7b7b7;
}
a {
  color: white;
}

.nav > li{
display: inline-block;
}

.nav a.hover{
display: none;
}

.logo {
float: left; 
font-size: 24px;
}

.header {
  padding-top: 41px;
  color: white;
  background-image: url(../img/header-bg.png);
height: 800px;
background-color: #272727;

}

li .nav-twitter-logo{


}

li .nav-facebook-logo{


}

.teaser {
  position: relative;
  clear: both;
  top:200px;
}

.teaser-header{
  font-size: 24px;
  font-weight: lighter;
}

.teaser-text{
  font-size: 60px;
  width: 58%;
}

header button {
margin:0 10px 0 10px;

}


.learn-more {
width: 166px;
height: 56px;
color: white;
background-color: #e92121;
border-radius: 5px;
border: 0px;
}
.choose-direction{
width: 166px;
height: 56px;
background-color:rgba(0,0,0,0);
border: 1px solid white;
border-radius: 5px;

}

div.row {
  
  margin: 40px 0px ;
}

section.section-1 h2{
font-size: 48px;
text-align: left;
padding-top: 80px;
}

section.section-1 p{
font-size: 13px;
padding-bottom: 30px;

}


section.section-2{
text-align: center;
padding: 30px;
}

h3 {
  font-size: 18px;
}

section.section-3{
text-align: center;
padding: 30px;
}

.row.section-1{
  margin:10px 0px ;
  padding-bottom: 40px;
 border-bottom: 1px solid #f1f1f1;
}

.row.section-3 {
  margin:0px ;
padding: 40px 0px ;
  background-color: #faf9f9;
  border:0px solid;
}


.row.section-2{
  margin:10px 0px ;
  padding-bottom: 40px;
}

.row.section-3 h3{
  font-weight: bold; 
  font-size:  30px;
   padding-top:40px;
}
.row.section-3 p{
  padding:5px 0px;
}

.row.section-4 h2{
  font-weight: bold; 
  font-size:  48px;
  padding: 20px 0px;
  
}

.row.section-4 h3{
  font-weight: bold; 
  
}

.container.section-5 h2{
  font-weight: bold;
}

.row.section-6 {
  margin:0px ;
padding: 40px 0px ;
  background-color: #faf9f9;
}

section.section-6{
text-align: center;
padding: 30px;
}


.left{
  float: left;
}
.right{
  float: right;
}

.section-6 img{
padding: 30px; 
margin-bottom: 42px;
float: left;
}

.section-6 h3{
font-weight: bold;
}
.section-7{
  padding-bottom: 40px;
}
.section-7 img{
height: 235px;
width: 285px;
}

.section-7 h2{
  padding: 40px 0px;
font-size: 42px;
}

footer .row {
  background-color: #141414;
  margin: 0px;
  padding:20px 0px;
}


footer ul {
  list-style-type: none;
  padding: 0px;
}

footer a {
 color: #3a3a3a;
}


.footer-header {
font-size: 18px;
  color: #FFF;
  padding: 0 0 0 15px;
}

.social-links img {

  padding: 0px 5px;
}